<div class="form-group">
    <label class="col-xs-12" for="example-text-input"><%= field.label %></label>
    <div class="col-sm-9">
      <%= f.text_area field.name, class: 'form-control' %>
    </div>
</div>
