/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/example_app/log/*
/spec/example_app/public/*
/spec/example_app/tmp
/tmp/

# rspec failure tracking
.rspec_status
.idea/
.ruby-version
