<%= form_for resource, url: form_url, html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
        <label class="col-xs-12" for="example-text-input">Name</label>
        <div class="col-sm-9">
            <%= f.text_field :name, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12" for="example-text-input">Template</label>
        <div class="col-sm-9">
            <%= f.text_field :template, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <%= f.submit class: 'btn btn-sm btn-primary' %>
        </div>
    </div>
<% end %>
