<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
              New Field Type
            </h1>
        </div>
    </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content block-content-narrow">
              <%= render 'form', resource: @resource, form_url: admin_system_entity_field_types_path %>
            </div>
        </div>
    </div>
  </div>
</div>
