<div class="row" data-field-id="<%= entity_field.id %>">
  <div class="col-md-12">
      <div class="block">
          <div class="block-content block-content-narrow">
            <%= render 'simple_admin/admin/system/entities/entity_fields/form', resource: entity_field.entity, form_resource: entity_field, form_url: admin_system_entity_field_path(entity_field) %>
          </div>
      </div>
  </div>
</div>
