<div class="row">
  <div class="col-md-12">
      <div class="block" id="tabs">
          <ul class="nav nav-tabs" data-toggle="tabs">
              <li>
                  <a href="#index-fields">Index Fields</a>
              </li>
              <li>
                  <a href="#form-fields">Form Fields</a>
              </li>
          </ul>
          <div class="block-content tab-content">
              <div class="tab-pane" id="index-fields">
                <% if @resource.entity_fields.collection.present? %>
                  <% @resource.entity_fields.collection.latest.each do |entity_field| %>
                    <%= render template: 'simple_admin/admin/system/entities/entity_fields/edit', locals: { entity_field: entity_field } %>
                  <% end %>
                <% else %>
                  <div class="content">
                    <p>Nothing found</p>
                  </div>
                <% end %>
              </div>

              <div class="tab-pane" id="form-fields">
                <% if @resource.entity_fields.form.present? %>
                  <% @resource.entity_fields.form.each do |entity_field| %>
                    <%= render template: 'simple_admin/admin/system/entities/entity_fields/edit', locals: { entity_field: entity_field } %>
                  <% end %>
                <% else %>
                  <div class="content">
                    <p>Nothing found</p>
                  </div>
                <% end %>
              </div>
          </div>
      </div>
  </div>
</div>
