<div class="row">
  <div class="col-md-12">
      <div class="block">
        <div class="block-header">
            <h3 class="block-title">Create Field</h3>
        </div>
          <div class="block-content block-content-narrow">
            <%= render 'simple_admin/admin/system/entities/entity_fields/form', resource: @resource, form_resource: @resource.entity_fields.build, form_url: admin_system_entity_fields_path %>
          </div>
      </div>
  </div>
</div>
