<h5 class="item-page__description">Create Field</h5>

<%= render 'simple_admin/admin/system/entities/entity_fields/form', resource: @resource, form_resource: @resource.entity_fields.build, form_url: admin_system_entity_fields_path %>
