<section class="field">
    <div class="field__title">Новости</div>
    <div class="field__content">
      <input class="input autocomplete" type="text">

      <ul class="dropdown-menu" style="display: none;"></ul>

      <div class="featured__news">
        <% if feature_items.present? %>
          <% feature_items.each do |feature_item| %>
            <%= render 'simple_admin/widgets/feature_items/post_item', post: feature_item.object %>
          <% end %>
         <% end %>
      </div>
    </div>
</section>
