<div class="feature__item">
  <a class="remove__post_item" href="#"><%= t('.actions.remove') %></a> |
  <span><%= post.title %></span>
  <input type="hidden" value="<%= post.id %>" name="post_ids[]">
</div>
