<input type="hidden" name="password_change" value="false">

<div class="form-group col-md-6">
    <div class="block block-rounded block-bordered change-password">
        <div class="block-header">
            <ul class="block-options">
                <li>
                    <button type="button"><i class="fa arrow"></i>
                    </button>
                </li>
            </ul>
            <h3 class="block-title">Change Password</h3>
        </div>
        <div class="block-content">
          <%= render 'password_fields', f: f %>
        </div>
    </div>
</div>
