<div class="form-group">
    <label class="col-xs-12" for="example-text-input">Password</label>
    <div class="col-sm-9">
        <%= f.password_field :password, class: 'form-control' %>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-12" for="example-text-input">Password confirmation</label>
    <div class="col-sm-9">
        <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
</div>
