<div class="password-fields">
  <section class="field">
      <div class="field__title">Password</div>
      <div class="field__content">
        <%= f.password_field :password, class: 'input' %>
      </div>
  </section>

  <section class="field">
      <div class="field__title">Password confirmation</div>
      <div class="field__content">
        <%= f.password_field :password_confirmation, class: 'input' %>
      </div>
  </section>
</div>
