var permissionId = "<%= @resource.id %>";

var nothingFoundHtml = '<div class="content"> \
                    <p>Nothing found</p>\
                  </div>'

$('*[data-permission-id="' + permissionId + '"]').remove();

if(!$('#permissions-list .row').length) {
  $('#permissions-list').append(nothingFoundHtml);
}

$.notify(
  'Permission successfully deleted!',
  'success',
  { autoHideDelay: 3000, position: 'right' }
);
