<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
              <%= t('simple_admin.resource.index.title', resource_name: resource_name.pluralize) %>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
          <%= link_to t('simple_admin.resource.new.title', resource_name: resource_name), resource_link(entity.model_klass.new, :new), class: 'btn btn-minw btn-success' %>
        </div>
    </div>
</div>
