<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
              Posts
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
          <%= link_to 'Create Post', resource_link(entity.model_klass.new, :new), class: 'btn btn-minw btn-success' %>
        </div>
    </div>
</div>
