<% SimpleAdmin::Entity.enabled.each do |entity| %>
  <li>
    <%= link_to resource_link(entity.model_klass.new, :index) do %>
      <i class="si si-docs"></i>
      <span class="sidebar-mini-hide"><%= entity.label %></span>
    <% end %>
  </li>
<% end %>
