<% if resource.errors.any? %>
  <div class="errors">
    <% @resource.errors.full_messages.each do |error_message| %>
      <p class="text-danger">
        <%= error_message %>
      </p>
    <% end %>
  </div>
<% end %>
