<% flash.each do |_, message| %>
  <div class="notify">
    <div data-notify="container" class="col-xs-11 col-sm-4 alert alert-success animated fadeIn" role="alert" data-notify-position="top-right" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out; z-index: 1033; top: 20px; right: 20px; animation-iteration-count: 1;">
        <button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button><span data-notify="icon" class="fa fa-check"></span> <span data-notify="title"></span> <span data-notify="message"><%= message %></span>
        <a href="#" target="_blank" data-notify="url"></a>
    </div>
  </div>
<% end %>
