<footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
    <div class="pull-left">
        Simple Admin <%= SimpleAdmin::VERSION %> © <span class="js-year-copy"></span>
    </div>
</footer>
