<header id="header-navbar" class="content-mini content-mini-full">
  <ul class="nav-header pull-left">
    <% if SimpleAdmin::Setting.site_url.present? %>
      <li>
        <%= link_to 'Preview Site', SimpleAdmin::Setting.site_url.value, class: 'btn btn-default pull-right', target: '_blank' %>
      </li>
    <% end %>

    <% if entity.present? %>
      <%= render 'simple_admin/admin/shared/search', resource_klass: entity.model_klass %>
    <% end %>
  </ul>

  <ul class="nav-header pull-right">
    <li>
      <%= link_to t('simple_admin.actions.logout'), destroy_user_session_path %>
    </li>
  </ul>
</header>
