<% field_settings.each do |field_setting| %>
  <section class="field">
    <div class="field__title"><%= field_setting.label %></div>
    <div class="field__content">
      <%= f.text_field field_setting.name, name: "simple_admin_entity_field[field_setting][name][#{field_setting.name}]", value: field_setting.value, class: 'input' %>
    </div>
  </section>
<% end %>
