@charset 'utf-8';

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'jquery-tags-input';

@import 'simple_admin/global/reset';
@import 'simple_admin/global/fonts';
@import 'simple_admin/global/simple-line-icons';
@import 'simple_admin/global/fontawesome-icons';
@import 'simple_admin/global/table';
@import 'simple_admin/global/buttons';
@import 'simple_admin/global/tags';

@import 'simple_admin/page/aside';
@import 'simple_admin/page/header';
@import 'simple_admin/page/main-container';
@import 'simple_admin/page/sign_in';

@import 'simple_admin/change-password';
@import 'simple_admin/tabs';
@import 'simple_admin/global/notify';
@import 'simple_admin/global/errors';

@import 'simple_admin/global/jquery.dataTables';

#page-container {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  background-color: #2c343f;
}

@media screen and (min-width: 992px) {
  #page-container.sidebar-l.sidebar-o {
    padding-left: 230px;
  }

  #page-container.sidebar-r.sidebar-o {
    padding-right: 230px;
  }

  #page-container.sidebar-l.sidebar-o.sidebar-mini {
    padding-left: 60px;
  }

  #page-container.sidebar-r.sidebar-o.sidebar-mini {
    padding-right: 60px;
  }
}
