.change-password .block-header {
  cursor: pointer;
}

.change-password .fa.arrow:before { content: "\f107"; }
.change-password.active .fa.arrow:before { content: "\f106"; }

.change-password .block-content {
  display: none;
}

.change-password.active .block-content {
  display: block
}


.block.block-rounded.block-bordered.change-password:hover {
  border: 1px solid rgba(92, 144, 210, .6);
}

.block.block-rounded.block-bordered.change-password.active:hover {
  border: 1px solid #e9e9e9;
}

.change-password .block-title {
  font-size: 15px;
  font-weight: 100;
  text-transform: none;
  line-height: 1.2;
}

.change-password button {
  color: #2c343f!important;
  font-size: 16px;
  opacity: 0.5!important;
}
