.block > .nav-tabs {
  background-color: #f9f9f9;
  border-bottom: none;
}

.block > .nav-tabs > li.ui-tabs-active > a, .block > .nav-tabs > li.ui-tabs-active > a:hover, .block > .nav-tabs > li.ui-tabs-active > a:focus {
  color: #646464;
  background-color: #fff;
  border-color: transparent;
}

.block > .nav-tabs > li > a {
  margin-right: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #646464;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 0;
}

.nav {
    margin-bottom: 0!important;
    padding-left: 0!important;
    list-style: none;
}
