<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
              Edit Entity
            </h1>
        </div>
    </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-12">
        <div class="block">
          <div class="block-header">
              <h3 class="block-title"><%= @resource.model_klass_name %></h3>
          </div>
            <div class="block-content block-content-narrow">
              <%= render 'form', resource: @resource, form_url: admin_system_entity_path(@resource) %>
            </div>
        </div>
    </div>
  </div>

 <%= render template: 'simple_admin/admin/system/entities/entity_fields/new' %>
 <%= render template: 'simple_admin/admin/system/entities/entity_fields/index' %>
</div>
