<div class="form-group">
    <label class="col-xs-12" for="example-text-input"><%= field.label %></label>
    <div class="col-xs-12">
        <%= f.file_field field.name, class: 'image' %>
    </div>
</div>
