<section class="field">
    <div class="field__title"><%= field.name %></div>
    <div class="field__content">
        <label class="image__label">
            <%= f.file_field field.name, class: 'image' %>
        </label>
    </div>
</section>
