.content
  .col-md-8
    .block
      .block-header.block-header-default
        %h3.block-title
          = t('admin.models.form.create.title')
      .block-content
        = render 'form', resource: @resource, form_url: admin_system_models_path, button: t('admin.models.form.create.submit')
