<div class="item-page__content">
  <%= form_for :setting, url: admin_system_update_settings_path(current_locale), method: :put do |f| %>

    <% resources.each do |resource| %>
      <%= render resource.presentation, f: f, resource: resource %>
    <% end %>

    <section class="field">
      <div class="field__title"></div>
      <div class="field__content">
        <%= f.submit value: 'Обновить', class: 'button button--wide item-page__button' %>
      </div>
    </section>
  <% end %>
</div>
