<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
              Edit Settings
            </h1>
        </div>
    </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-lg-12">
        <div class="block">
            <div class="block-content">
              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                  <div class="row">
                      <div class="col-sm-12">
                          <table class="table table-bordered table-striped js-dataTable-simple dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                              <thead>
                                  <tr role="row">
                                      <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 362px;">Name</th>
                                      <th class="hidden-xs" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 532px;">Value</th>

                                  </tr>
                              </thead>
                              <tbody>
                                <tr role="row" class="odd">
                                    <td class="font-w600"><%= @setting_site_url.label %></td>
                                    <td class="hidden-xs"><%= best_in_place @setting_site_url, :value, url: admin_system_setting_path(@setting_site_url) %></td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
