<section class="catalog-page">
  <header class="item-page__header">
    <h3 class="item-page__title"><%= t('.title') %></h3>
  </header>

  <table class="table">
    <%= render 'simple_admin/admin/shared/table_header', field_names: [:id, :label] %>

    <tbody class="table__body">
      <%= render_widget(:featured, @resources, new_admin_widgets_feature_item_path(current_locale)) %>
    </tbody>
  </table>
</section>
