<%= form_for resource, url: form_url, html: { class: 'form-horizontal' } do |f| %>
    <section class="field">
        <div class="field__title">Name</div>
        <div class="field__content">
          <%= f.text_field :name, class: 'input' %>
        </div>
    </section>

    <section class="field">
      <div class="field__title"></div>
      <div class="field__content">
        <%= f.submit class: 'button button--wide item-page__button' %>
      </div>
    </section>
<% end %>
