<section class="item-page">
  <header class="item-page__header">
      <h3 class="item-page__title">Edit Layout</h3>
  </header>

  <%= render 'form', resource: @resource, form_url: admin_design_layout_path(@resource) %>

  <%= render template: 'simple_admin/admin/design/layouts/layout_plugins/new' %>
  <%= render template: 'simple_admin/admin/design/layouts/layout_plugins/index' %>
</section>
