#sidebar,
#side-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1032;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all .28s ease-out;
    transition: all .28s ease-out
}

@media screen and (min-width:992px) {
    .side-scroll #sidebar,
    .side-scroll #side-overlay {
        overflow-y: hidden
    }
}

#sidebar {
    width: 230px;
    background-color: #2c343f
}

.sidebar-l #sidebar {
    left: 0;
    -webkit-transform: translateX(-100%) translateY(0) translateZ(0);
    -ms-transform: translateX(-100%) translateY(0);
    transform: translateX(-100%) translateY(0) translateZ(0)
}

.sidebar-r #sidebar {
    right: 0;
    -webkit-transform: translateX(100%) translateY(0) translateZ(0);
    -ms-transform: translateX(100%) translateY(0);
    transform: translateX(100%) translateY(0) translateZ(0)
}

@media screen and (max-width:991px) {
    #sidebar {
        width: 100%;
        opacity: 0
    }
    .sidebar-o-xs #sidebar {
        opacity: 1;
        -webkit-transform: translateX(0) translateY(0) translateZ(0);
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0) translateZ(0)
    }
}

@media screen and (min-width:992px) {
    #sidebar {
        width: 230px;
        -webkit-transition: none;
        transition: none
    }
    .sidebar-o #sidebar {
        -webkit-transform: translateX(0) translateY(0) translateZ(0);
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0) translateZ(0)
    }
    .sidebar-o.sidebar-mini #sidebar {
        overflow-x: hidden;
        -webkit-transition: all .28s ease-out;
        transition: all .28s ease-out;
        will-change: transform
    }
    .sidebar-l.sidebar-o.sidebar-mini #sidebar {
        -webkit-transform: translateX(-170px) translateY(0) translateZ(0);
        -ms-transform: translateX(-170px) translateY(0);
        transform: translateX(-170px) translateY(0) translateZ(0)
    }
    .sidebar-r.sidebar-o.sidebar-mini #sidebar {
        -webkit-transform: translateX(170px) translateY(0) translateZ(0);
        -ms-transform: translateX(170px) translateY(0);
        transform: translateX(170px) translateY(0) translateZ(0)
    }
    .sidebar-o.sidebar-mini #sidebar .sidebar-content {
        width: 230px;
        -webkit-transition: all .28s ease-out;
        transition: all .28s ease-out;
        will-change: transform
    }
    .sidebar-l.sidebar-o.sidebar-mini #sidebar .sidebar-content {
        -webkit-transform: translateX(170px) translateY(0) translateZ(0);
        -ms-transform: translateX(170px) translateY(0);
        transform: translateX(170px) translateY(0) translateZ(0)
    }
    .sidebar-o.sidebar-mini #sidebar:hover,
    .sidebar-o.sidebar-mini #sidebar:hover .sidebar-content {
        -webkit-transform: translateX(0) translateY(0) translateZ(0);
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0) translateZ(0)
    }
    .sidebar-o.sidebar-mini #sidebar .sidebar-mini-hide {
        opacity: 0;
        -webkit-transition: opacity .28s ease-out;
        transition: opacity .28s ease-out
    }
    .sidebar-o.sidebar-mini #sidebar .sidebar-mini-hidden {
        display: none
    }
    .sidebar-o.sidebar-mini #sidebar .nav-main>li.open>ul {
        display: none
    }
    .sidebar-o.sidebar-mini #sidebar:hover .sidebar-mini-hide {
        opacity: 1
    }
    .sidebar-o.sidebar-mini #sidebar:hover .nav-main>li.open>ul {
        display: block
    }
}

.side-header {
    margin: 0 auto;
    min-height: 60px
}

.side-header:before,
.side-header:after {
    content: " ";
    display: table
}

.side-header:after {
    clear: both
}

.side-header.side-content {
    overflow: visible
}

.side-header>span,
.side-header>a {
    display: inline-block;
    line-height: 34px
}

.side-header img {
    display: inline-block;
    margin-top: -2px
}

.side-content {
    margin: 0 auto;
    padding: 13px 20px 1px;
    max-width: 100%;
    overflow-x: hidden
}

.side-content p,
.side-content .push,
.side-content .block,
.side-content .items-push>div {
    margin-bottom: 13px
}

.side-content .items-push-2x>div {
    margin-bottom: 26px
}

.side-content .items-push-3x>div {
    margin-bottom: 39px
}

.side-content.side-content-full {
  padding-bottom: 13px
}

.side-content.side-content-full .pull-b {
  margin-bottom: -13px
}

.side-content .pull-t {
  margin-top: -13px
}

.side-content .pull-r-l {
  margin-right: -20px;
  margin-left: -20px
}

.side-content .pull-b {
  margin-bottom: -1px
}

.bg-white-op {
  background-color: rgba(255, 255, 255, 0.075);
}

.nav-main {
  margin: 0 -20px;
  padding: 0;
  list-style: none;
}

.nav-main a {
  display: block;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.5);
}

.nav-main a:hover {
  text-decoration: none;
}

.nav-main a > i {
  display: inline-block;
  min-width: 14px;
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.2);
}

.nav-main .nav-main-heading {
  padding: 22px 20px 6px 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}


.nav-main a:hover,
.nav-main a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-main a:hover > i,
.nav-main a:focus > i {
  color: #fff;
}

.nav-main a.active,
.nav-main a.active:hover {
  color: #fff;
}

.nav-main a.active > i,
.nav-main a.active:hover > i {
  color: #fff;
}


.content-mini {
    margin: 0 auto;
    padding: 13px 14px 1px;
    max-width: 100%;
    overflow-x: visible
}

.content-mini p,
.content-mini .push,
.content-mini .block,
.content-mini .items-push>div {
    margin-bottom: 13px
}

.content-mini .items-push-2x>div {
    margin-bottom: 26px
}

.content-mini .items-push-3x>div {
    margin-bottom: 39px
}

.content-mini.content-mini-full {
    padding-bottom: 13px
}

.content-mini.content-mini-full .pull-b {
    margin-bottom: -13px
}

.content-mini .pull-t {
    margin-top: -13px
}

.content-mini .pull-r-l {
    margin-right: -14px;
    margin-left: -14px
}

.content-mini .pull-b {
    margin-bottom: -1px
}

@media screen and (min-width:768px) {
    .content-mini {
        margin: 0 auto;
        padding: 13px 30px 1px;
        max-width: 100%;
        overflow-x: visible
    }
    .content-mini p,
    .content-mini .push,
    .content-mini .block,
    .content-mini .items-push>div {
        margin-bottom: 13px
    }
    .content-mini .items-push-2x>div {
        margin-bottom: 26px
    }
    .content-mini .items-push-3x>div {
        margin-bottom: 39px
    }
    .content-mini.content-mini-full {
        padding-bottom: 13px
    }
    .content-mini.content-mini-full .pull-b {
        margin-bottom: -13px
    }
    .content-mini .pull-t {
        margin-top: -13px
    }
    .content-mini .pull-r-l {
        margin-right: -30px;
        margin-left: -30px
    }
    .content-mini .pull-b {
        margin-bottom: -1px
    }
}
