
#header-navbar {
    min-height: 60px;
    background-color: #fff
}

#header-navbar:before,
#header-navbar:after {
    content: " ";
    display: table
}

#header-navbar:after {
    clear: both
}

.header-navbar-fixed #header-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    min-width: 320px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02)
}

.header-navbar-fixed #main-container {
    padding-top: 60px
}

@media screen and (min-width:992px) {
    .header-navbar-fixed.sidebar-l.sidebar-o #header-navbar {
        left: 230px
    }
    .header-navbar-fixed.sidebar-r.sidebar-o #header-navbar {
        right: 230px
    }
    .header-navbar-fixed.sidebar-l.sidebar-o.sidebar-mini #header-navbar {
        left: 60px
    }
    .header-navbar-fixed.sidebar-r.sidebar-o.sidebar-mini #header-navbar {
        right: 60px
    }
}

.header-navbar-transparent #header-navbar {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.header-navbar-transparent.header-navbar-fixed.header-navbar-scroll #header-navbar {
    background-color: #3e4a59
}

.header-navbar-transparent.header-navbar-fixed #main-container {
    padding-top: 0
}

.nav-header {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-header:before,
.nav-header:after {
    content: " ";
    display: table
}

.nav-header:after {
    clear: both
}

.nav-header>li {
    margin-right: 12px;
    float: left
}

.nav-header>li>a,
.nav-header>li>.btn-group>a {
    padding: 0 12px;
    display: block;
    height: 34px;
    line-height: 34px;
    font-weight: 600
}

.nav-header.pull-right>li {
    margin-right: 0;
    margin-left: 12px;
    float: left
}

.nav-header .header-content {
    line-height: 34px
}

.nav-header .header-search {
    width: 360px
}

@media screen and (max-width:767px) {
    .nav-header .header-search {
        display: none
    }
    .nav-header .header-search.header-search-xs-visible {
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        z-index: 999;
        display: block;
        width: 100%;
        border-top: 1px solid #f9f9f9
    }
    .nav-header .header-search.header-search-xs-visible>form {
        padding: 14px 14px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02)
    }
}

.nav-sub-header>li {
    float: none !important;
    margin: 0 0 7px !important
}

.nav-sub-header>li>a {
    color: #3e4a59
}

.nav-sub-header>li>a>i {
    opacity: .5
}

@media screen and (min-width:768px) {
    .nav-sub-header>li {
        float: left !important;
        margin: 0 7px 0 0 !important
    }
}

@media (max-width:767px) {
    .nav-sub-header .open .dropdown-menu {
        position: relative;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .nav-sub-header .open .dropdown-menu .divider {
        background-color: rgba(0, 0, 0, 0.05)
    }
    .nav-sub-header .open .dropdown-menu>li>a,
    .nav-sub-header .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px
    }
    .nav-sub-header .open .dropdown-menu>li>a {
        line-height: 20px
    }
    .nav-sub-header .open .dropdown-menu>li>a:hover,
    .nav-sub-header .dropdown-menu>li>a:focus {
        background-image: none
    }
}

.form-material {
    position: relative;
    margin: 10px 0 10px
}

.form-material>label,
.form-material.floating>.form-control:focus+label,
.form-material.floating.open>label {
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 13px;
    font-weight: 600;
    -webkit-transform: translateY(-24px);
    -ms-transform: translateY(-24px);
    transform: translateY(-24px)
}

.form-material.floating>.form-control:-webkit-autofill+label {
    font-size: 13px;
    font-weight: 600;
    cursor: default;
    -webkit-transform: translateY(-24px);
    -ms-transform: translateY(-24px);
    transform: translateY(-24px)
}

.form-material.floating>label {
    font-size: 15px;
    font-weight: 400;
    cursor: text;
    z-index: 10;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    -webkit-transform: translateY(-24px);
    -ms-transform: translateY(-24px);
    transform: translateY(-24px)
}

.form-material.floating>.form-control[disabled]+label,
.form-material.floating>.form-control[readonly]+label,
fieldset[disabled] .form-material.floating>label {
    cursor: not-allowed
}

.form-material>.form-control {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: 0 1px 0 #e6e6e6;
    box-shadow: 0 1px 0 #e6e6e6
}

.form-material>.form-control:focus {
    background-color: transparent;
    -webkit-box-shadow: 0 2px 0 #646464;
    box-shadow: 0 2px 0 #646464
}

.form-material>.form-control:focus+label {
    color: #646464
}

.form-material>.form-control:focus~.input-group-addon {
    -webkit-box-shadow: 0 2px 0 #646464;
    box-shadow: 0 2px 0 #646464
}

.form-material .form-control[disabled],
.form-material .form-control[readonly],
.form-material fieldset[disabled] .form-control {
    background-color: #fff;
    border-bottom: 1px dashed #ccc;
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-material.input-group .input-group-addon {
    border: none;
    background-color: transparent;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 1px 0 #e6e6e6;
    box-shadow: 0 1px 0 #e6e6e6;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.form-material.form-material-primary>.form-control:focus {
    -webkit-box-shadow: 0 2px 0 #5c90d2;
    box-shadow: 0 2px 0 #5c90d2
}

.form-material.form-material-primary>.form-control:focus+label {
    color: #5c90d2
}

.form-material.form-material-primary>.form-control:focus~.input-group-addon {
    color: #5c90d2;
    -webkit-box-shadow: 0 2px 0 #5c90d2;
    box-shadow: 0 2px 0 #5c90d2
}

.form-material.form-material-success>.form-control:focus {
    -webkit-box-shadow: 0 2px 0 #46c37b;
    box-shadow: 0 2px 0 #46c37b
}

.form-material.form-material-success>.form-control:focus+label {
    color: #46c37b
}

.form-material.form-material-success>.form-control:focus~.input-group-addon {
    color: #46c37b;
    -webkit-box-shadow: 0 2px 0 #46c37b;
    box-shadow: 0 2px 0 #46c37b
}

.form-material.form-material-info>.form-control:focus {
    -webkit-box-shadow: 0 2px 0 #70b9eb;
    box-shadow: 0 2px 0 #70b9eb
}

.form-material.form-material-info>.form-control:focus+label {
    color: #70b9eb
}

.form-material.form-material-info>.form-control:focus~.input-group-addon {
    color: #70b9eb;
    -webkit-box-shadow: 0 2px 0 #70b9eb;
    box-shadow: 0 2px 0 #70b9eb
}

.form-material.form-material-warning>.form-control:focus {
    -webkit-box-shadow: 0 2px 0 #f3b760;
    box-shadow: 0 2px 0 #f3b760
}

.form-material.form-material-warning>.form-control:focus+label {
    color: #f3b760
}

.form-material.form-material-warning>.form-control:focus~.input-group-addon {
    color: #f3b760;
    -webkit-box-shadow: 0 2px 0 #f3b760;
    box-shadow: 0 2px 0 #f3b760
}

.form-material.form-material-danger>.form-control:focus {
    -webkit-box-shadow: 0 2px 0 #d26a5c;
    box-shadow: 0 2px 0 #d26a5c
}

.form-material.form-material-danger>.form-control:focus+label {
    color: #d26a5c
}
