#main-container,
#page-footer {
    overflow-x: hidden
}

#main-container {
    background-color: #f5f5f5
}

.content {
    margin: 0 auto;
    padding: 16px 14px 1px;
    max-width: 100%;
    overflow-x: visible
}

.content p,
.content .push,
.content .block,
.content .items-push>div {
    margin-bottom: 16px
}

.content .items-push-2x>div {
    margin-bottom: 32px
}

.content .items-push-3x>div {
    margin-bottom: 48px
}

.content.content-full {
    padding-bottom: 16px
}

.content.content-full .pull-b {
    margin-bottom: -16px
}

.content .pull-t {
    margin-top: -16px
}

.content .pull-r-l {
    margin-right: -14px;
    margin-left: -14px
}

.content .pull-b {
    margin-bottom: -1px
}

@media screen and (min-width:768px) {
    .content {
        margin: 0 auto;
        padding: 30px 30px 1px;
        max-width: 100%;
        overflow-x: visible
    }
    .content p,
    .content .push,
    .content .block,
    .content .items-push>div {
        margin-bottom: 30px
    }
    .content .items-push-2x>div {
        margin-bottom: 60px
    }
    .content .items-push-3x>div {
        margin-bottom: 90px
    }
    .content.content-full {
        padding-bottom: 30px
    }
    .content.content-full .pull-b {
        margin-bottom: -30px
    }
    .content .pull-t {
        margin-top: -30px
    }
    .content .pull-r-l {
        margin-right: -30px;
        margin-left: -30px
    }
    .content .pull-b {
        margin-bottom: -1px
    }
    .content.content-boxed {
        max-width: 1280px
    }
    .content.content-narrow {
        max-width: 95%
    }
}

.content-grid {
    margin-bottom: 24px
}

.content-grid .push,
.content-grid .block {
    margin-bottom: 6px
}

.content-grid .row {
    margin-left: -3px;
    margin-right: -3px
}

.content-grid .row>div[class*="col"] {
    padding-left: 3px;
    padding-right: 3px
}

.content-mini {
    margin: 0 auto;
    padding: 13px 14px 1px;
    max-width: 100%;
    overflow-x: visible
}

.content-mini p,
.content-mini .push,
.content-mini .block,
.content-mini .items-push>div {
    margin-bottom: 13px
}

.content-mini .items-push-2x>div {
    margin-bottom: 26px
}

.content-mini .items-push-3x>div {
    margin-bottom: 39px
}

.content-mini.content-mini-full {
    padding-bottom: 13px
}

.content-mini.content-mini-full .pull-b {
    margin-bottom: -13px
}

.content-mini .pull-t {
    margin-top: -13px
}

.content-mini .pull-r-l {
    margin-right: -14px;
    margin-left: -14px
}

.content-mini .pull-b {
    margin-bottom: -1px
}

@media screen and (min-width:768px) {
    .content-mini {
        margin: 0 auto;
        padding: 13px 30px 1px;
        max-width: 100%;
        overflow-x: visible
    }
    .content-mini p,
    .content-mini .push,
    .content-mini .block,
    .content-mini .items-push>div {
        margin-bottom: 13px
    }
    .content-mini .items-push-2x>div {
        margin-bottom: 26px
    }
    .content-mini .items-push-3x>div {
        margin-bottom: 39px
    }
    .content-mini.content-mini-full {
        padding-bottom: 13px
    }
    .content-mini.content-mini-full .pull-b {
        margin-bottom: -13px
    }
    .content-mini .pull-t {
        margin-top: -13px
    }
    .content-mini .pull-r-l {
        margin-right: -30px;
        margin-left: -30px
    }
    .content-mini .pull-b {
        margin-bottom: -1px
    }
}

.content-boxed {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px
}

.page-heading {
    color: #545454;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.24;
}

.block {
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0 2px rgba(0, 0, 0, 0.01);
}

.block-content {
    margin: 0 auto;
    padding: 20px 20px 1px;
    max-width: 100%;
    overflow-x: visible;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity 0.2s ease-out;
}
