.content.content-boxed {
  max-width: 1280px;
}

.pulldown {
  position: relative;
  top: 50px;
}

@media screen and (min-width: 992px) {
  /* line 9052, /Users/dmitriy/Projects/exampleapp/gemfiles/simple_admin/app/assets/stylesheets/simple_admin/core.scss */
  .pulldown {
    top: 150px;
  }
}
