<div class="aside__container">
  <div class="nav-group">
    <div class="nav-group__item nav-group__title">
      <%= link_to 'Записи', admin_posts_path %>
    </div>
  </div>

  <!-- <div class="nav-group">
    <div class="nav-group__item nav-group__title">Страницы</div>
    <a class="nav-group__item" href="/#">Тест</a>
  </div> -->
</div>
