<div class="aside__container">
  <div class="nav-group">
    <div class="nav-group__item nav-group__title">О Музее</div>
    <a class="nav-group__item" href="/#">О Музее</a><a class="nav-group__item" href="/#">Библиотека</a><a
      class="nav-group__item" href="/#">Исследования</a><a class="nav-group__item" href="/#">Издания</a><a
      class="nav-group__item" href="/#">Поддержка Музея</a></div>
  <div class="nav-group">
    <div class="nav-group__item nav-group__title">Коллекция</div>
    <a class="nav-group__item" href="/#">О Музее</a><a class="nav-group__item" href="/#">Библиотека</a><a
      class="nav-group__item" href="/#">Исследования</a><a class="nav-group__item" href="/#">Издания</a><a
      class="nav-group__item" href="/#">Поддержка Музея</a></div>
  <div class="nav-group">
    <div class="nav-group__item nav-group__title">Библиотека</div>
    <a class="nav-group__item" href="/#">О Музее</a><a class="nav-group__item" href="/#">Библиотека</a><a
      class="nav-group__item" href="/#">Исследования</a><a class="nav-group__item" href="/#">Издания</a><a
      class="nav-group__item" href="/#">Поддержка Музея</a></div>
  <div class="nav-group">
    <div class="nav-group__item nav-group__title">Исследования</div>
    <a class="nav-group__item" href="/#">О Музее</a><a class="nav-group__item" href="/#">Библиотека</a><a
      class="nav-group__item" href="/#">Исследования</a><a class="nav-group__item" href="/#">Издания</a><a
      class="nav-group__item" href="/#">Поддержка Музея</a></div>
  <div class="nav-group">
    <div class="nav-group__item nav-group__title">Издания</div>
    <a class="nav-group__item" href="/#">О Музее</a><a class="nav-group__item" href="/#">Библиотека</a><a
      class="nav-group__item" href="/#">Исследования</a><a class="nav-group__item" href="/#">Издания</a><a
      class="nav-group__item" href="/#">Поддержка Музея</a></div>
</div>
