<section class="item-page">
  <header class="item-page__header">
      <h3 class="item-page__title">Edit Featured Block</h3>
  </header>

  <%= render 'simple_admin/plugins/featured/form', resource: @resource, form_url: admin_system_plugin_type_plugin_path(@resource.plugin_type , @resource) %>
</section>
