var fieldId = "<%= @entity_field.to_param %>";
var fieldPresentation = '<%= @entity_field.presentation %>';

var nothingFoundHtml = '<div class="content"> \
                    <p>Nothing found</p>\
                  </div>'

$('*[data-field-id="' + fieldId + '"]').remove();

if(fieldPresentation == 'collection') {
  if(!$('#index-fields .row').length) {
    $('#index-fields').append(nothingFoundHtml);
  }
} else if (fieldPresentation == 'form') {
  if(!$('#form-fields .row').length) {
    $('#form-fields').append(nothingFoundHtml);
  }
}

$.notify(
  fieldPresentation + ' field successfully deleted!',
  'success',
  { autoHideDelay: 3000, position: 'right' }
);
