var fieldId = "<%= @resource.to_param %>";
var fieldPresentation = '<%= @resource.presentation %>';

var nothingFoundHtml = '<div class="content"> \
                    <p>Nothing found</p>\
                  </div>'

$('*[data-field-id="' + fieldId + '"]').remove();

if(fieldPresentation == 'collection') {
  if(!$('#index-fields .row').length) {
    $('#index-fields').append(nothingFoundHtml);
  }
} else if (fieldPresentation == 'form') {
  if(!$('#form-fields .row').length) {
    $('#form-fields').append(nothingFoundHtml);
  }
}
