<section class="item-page">
  <header class="item-page__header">
      <h3 class="item-page__title">Редактировать Тип Поля</h3>
  </header>
  <h5 class="item-page__description"><%= @resource.name %></h5>

  <%= render 'admin/entity_field_types/form', resource: @resource, form_url: admin_entity_field_type_path(@resource, locale: I18n.locale) %>
</section>
