<section class="item-page">
  <header class="item-page__header">
      <h3 class="item-page__title">Edit Featured Block</h3>
  </header>

  <%= render 'simple_admin/widgets/feature_items/form', form_url: admin_widget_path(@widget, current_locale), widget: @widget, feature_items: @feature_items %>
</section>
