<h5 class="item-page__description">New Releted Item</h5>

<%= render 'simple_admin/admin/related_items/form', resource: @resource, form_resource: @resource.related_items.build, form_url: admin_related_items_path %>
