<section class="catalog-page">
  <header class="item-page__header">
    <h3 class="item-page__title"><%= t('.title') %></h3>
    <%= link_to t('admin.create'), new_admin_entity_field_type_path(current_locale), class: 'button item-page__submit' %>
  </header>

  <table class="table">
    <%= render 'admin/shared/table_header', field_names: [:id, :name, :template] %>
    <%= render 'admin/shared/table_body', resources: @resources, resource_fields: @resource_fields %>
  </table>
</section>
