<h5 class="item-page__description">Add Plugin</h5>

<%= render 'simple_admin/admin/design/layouts/layout_plugins/form', resource: @resource, form_resource: @resource.layout_plugins.build, form_url: admin_design_layout_plugins_path %>
