%li.page-item
  = link_to url, remote: remote, class: 'page-link' do
    %span{"aria-hidden" => "true"}
      %i.fa.fa-angle-double-right
    %span.sr-only
      = t('views.pagination.last').html_safe
