<li class="paginate_button next <%= 'disabled' if current_page.last? %>" aria-controls="DataTables_Table_1" tabindex="0" id="DataTables_Table_1_next">
  <%= link_to url, remote: remote do %>
  <i class="fa fa-angle-right"></i>
  <% end %>
</li>
