<li class="paginate_button previous <%= 'disabled' if current_page.first? %>" aria-controls="DataTables_Table_1" tabindex="0" id="DataTables_Table_1_previous">
  <%= link_to url, remote: remote do %>
    <i class="fa fa-angle-left"></i>
  <% end %>
</li>
