<div class="item-page__content">
  <%= form_for resource, url: form_url do |f| %>
    <section class="field">
        <div class="field__title">Имя Модели</div>
        <div class="field__content">
            <div class="select__wrapper">
                <%= f.select :name, ApplicationRecord.descendants.map { |model| [model.name, model.name] }, {}, { class: 'select' } %>
            </div>
        </div>
    </section>

    <section class="field">
      <div class="field__title"></div>
      <div class="field__content">
        <%= f.submit value: 'Сохранить', class: 'button button--wide item-page__button' %>
      </div>
    </section>
  <% end %>

  <% if resource.persisted? %>
    <%= render 'admin/entities/entity_field_form', entity: resource %>
  <% end %>
</div>
