<section class="item-page">
  <header class="item-page__header">
      <h3 class="item-page__title">Создать новое поле</h3>
  </header>

  <%= render 'admin/entities/form', entity: @entity, form_url: admin_entities_path(@entity) %>
</section>
