<section class="item-page">
  <header class="item-page__header">
      <h3 class="item-page__title">Редактировать</h3>
  </header>

  <%= render 'admin/collection/form', resource: @resource, resource_fields: @resource_fields, form_url: resource_link(@resource, :update) %>
</section>
