<section class="catalog-page">
  <table class="table">
    <thead class="table__header">
        <tr class="table__row">
            <th class="table__cell">id</th>
            <th class="table__cell">Заголовок</th>
            <th class="table__cell">Категория</th>
            <th class="table__cell">Дата</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <td class="table__cell"><span>706</span>
            </td>
            <td class="table__cell"><a class="table__link" href="news/706">Суд оштрафовал семерых участников акции дальнобойщиков в Химках</a>
            </td>
            <td class="table__cell"><span>Новости</span>
            </td>
            <td class="table__cell"><span>20.08.2016</span>
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell"><span>706</span>
            </td>
            <td class="table__cell"><a class="table__link" href="news/706">Суд оштрафовал семерых участников акции дальнобойщиков</a>
            </td>
            <td class="table__cell"><span>Новости</span>
            </td>
            <td class="table__cell"><span>20.08.2016</span>
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell"><span>706</span>
            </td>
            <td class="table__cell"><a class="table__link" href="news/706">Суд оштрафовал семерых участников акции дальнобойщиков</a>
            </td>
            <td class="table__cell"><span>Новости</span>
            </td>
            <td class="table__cell"><span>20.08.2016</span>
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell"><span>706</span>
            </td>
            <td class="table__cell"><a class="table__link" href="news/706">Суд оштрафовал семерых участников акции дальнобойщиков</a>
            </td>
            <td class="table__cell"><span>Новости</span>
            </td>
            <td class="table__cell"><span>20.08.2016</span>
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell"><span>706</span>
            </td>
            <td class="table__cell"><a class="table__link" href="news/706">Суд оштрафовал семерых участников акции дальнобойщиков</a>
            </td>
            <td class="table__cell"><span>Новости</span>
            </td>
            <td class="table__cell"><span>20.08.2016</span>
            </td>
        </tr>
    </tbody>
  </table>
</section>
