<div class="item-page__content">
  <%= form_for resource, url: form_url do |f| %>

    <% entity_fields.each do |entity_field| %>
      <%= render entity_field.template_path, f: f, entity: entity, field: entity_field %>
    <% end %>

    <section class="field">
      <div class="field__title"></div>
      <div class="field__content">
        <%= f.submit class: 'button button--wide item-page__button' %>
      </div>
    </section>
  <% end %>
</div>
