<div class="item-page__content">
  <%= form_for resource, url: form_url do |f| %>
    <section class="field">
        <div class="field__title"><%= resource.label %></div>
        <div class="field__content">
          <%= f.text_field :value, class: 'input' %>
        </div>
    </section>


    <section class="field">
      <div class="field__title"></div>
      <div class="field__content">
        <%= f.submit value: 'Сохранить', class: 'button button--wide item-page__button' %>
      </div>
    </section>
  <% end %>
</div>
