<section class="field">
    <div class="field__title"><%= resource.label %></div>
    <div class="field__content">
        <div class="select__wrapper">
            <%= f.select :value, SimpleAdmin::Language.enabled.collect { |language| [language.code, language.code] }, { selected: resource.value }, { name: "setting[#{resource.id}]", class: 'select' } %>
        </div>
    </div>
</section>
