<section class="field">
    <div class="field__title"><%= resource.label %></div>
    <div class="field__content">
      <%= f.text_field :value, class: 'input', name: "setting[#{resource.id}]", value: resource.value %>
    </div>
</section>
