<section class="item-page">
  <header class="item-page__header">
      <h3 class="item-page__title"><%= t('.title') %></h3>
  </header>
  <h5 class="item-page__description"><%= @resource.name %></h5>

  <%= render 'simple_admin/admin/system/languages/form', resource: @resource, form_url: admin_system_language_path(@resource, current_locale) %>
</section>
