<section class="field">
    <div class="field__title"><%= field.label %></div>
    <div class="field__content">
        <div class="select__wrapper">
            <%= f.select field.name, field.association_klass.all.collect { |record| [record.public_send(field.entity_field_setting.value), record.id] }, { include_blank: '-- Select --' }, { class: 'select' } %>
        </div>
    </div>
</section>
