<section class="field">
    <div class="field__title"><%= field.label %></div>
    <div class="field__content">
        <div class="select__wrapper">
            <%= f.select field.name, resource_select_enum_collection(entity, field.name), {}, { class: 'select' } %>
        </div>
    </div>
</section>
