<div class="form-group">
    <label class="col-xs-12" for="example-text-input"><%= field.label %></label>
    <div class="col-sm-9">
        <%= f.text_field field.name, id: 'tags', class: 'js-tags-input form-control' %>
    </div>
</div>
