<div class="row">
  <div class="col-md-12">
      <div class="block">
        <div class="block-header">
            <h3 class="block-title">User Permissions</h3>
        </div>
          <div class="block-content block-content-narrow" id="permissions-list">
            <% if @resource.user_permissions.present? %>
              <% @resource.user_permissions.each do |permission| %>
                 <% next unless permission.persisted? %>

                <%= render template: 'simple_admin/admin/system/user_roles/user_permissions/edit', locals: { permission: permission } %>
              <% end %>
            <% else %>
              <div class="content">
                <p>Nothing found</p>
              </div>
            <% end %>
          </div>
      </div>
  </div>
</div>
