<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" class="gr__codepassenger_com"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <title>SimpleAdmin Password Reset</title> <!-- The title tag shows in email notifications-->

    <body>
      <div class="_17Jc6QO1QjTKmo_3K8hSZn YFtQ2HcVd7qxiOXuKcekC allowTextSelection">
         <div>
            <style type="text/css">
               <!--
                  .rps_1b9f body
                  	{margin:0;
                  	background-color:#EDF1F5;
                  	padding:25px;
                  	font-family:Helvetica,Arial,sans-serif}
                  .rps_1b9f div.x_wrapper
                  	{margin:0 auto;
                  	border-radius:4px;
                  	background:#FFFFFF;
                  	width:100%;
                  	max-width:600px;
                  	border:1px solid #dadfe9;
                  	border-top:10px solid #039be5}
                  .rps_1b9f div.x_content
                  	{padding:40px}
                  .rps_1b9f .x_sure-footer
                  	{padding-top:50px;
                  	text-align:center}
                  .rps_1b9f .x_sure-footer > .x_social
                  	{border-bottom:1px solid #dadfe9;
                  	max-width:300px;
                  	margin:0 auto;
                  	margin-bottom:50px;
                  	padding-bottom:50px}
                  .rps_1b9f .x_sure-footer > .x_social > a
                  	{vertical-align:middle;
                  	display:inline-block}
                  .rps_1b9f .x_sure-footer > .x_social > .x_twitter
                  	{margin-right:40px}
                  .rps_1b9f .x_sure-footer > .x_social > .x_facebook
                  	{margin-right:40px}
                  .rps_1b9f .x_sure-footer > .x_bottom
                  	{margin-bottom:50px}
                  .rps_1b9f .x_sure-footer > .x_bottom > .x_fineprint
                  	{font-size:12px;
                  	max-width:250px;
                  	margin:40px auto 0 auto}
                  .rps_1b9f .x_outside_bottom_note
                  	{text-align:center}
                  .rps_1b9f .x_cta
                  	{display:inline-block;
                  	background:#039be5;
                  	border-radius:4px;
                  	color:#FFFFFF;
                  	padding:20px 20px;
                  	text-decoration:none;
                  	font-weight:normal;
                  	font-size:16px}
                  .rps_1b9f a, .rps_1b9f a:focus, .rps_1b9f a:active
                  	{color:#039be5;
                  	font-weight:bold}
                  .rps_1b9f .x_heading1, .rps_1b9f .x_heading2, .rps_1b9f .x_heading3
                  	{font-weight:bold;
                  	color:#35334d;
                  	margin:0 0 20px 0}
                  .rps_1b9f .x_heading1
                  	{font-size:24px}
                  .rps_1b9f .x_heading2
                  	{font-size:20px}
                  .rps_1b9f .x_heading3
                  	{font-size:18px}
                  .rps_1b9f .x_heading-small
                  	{font-weight:bold;
                  	color:#35334d;
                  	font-size:14px}
                  .rps_1b9f .x_lead1
                  	{color:#039be5;
                  	font-size:20px;
                  	margin:0 0 20px 0}
                  .rps_1b9f .x_lead2
                  	{color:#505979;
                  	font-size:18px;
                  	margin:0 0 20px 0}
                  .rps_1b9f .x_paragraph1
                  	{color:#505979;
                  	font-size:16px;
                  	margin:0 0 20px 0}
                  .rps_1b9f .x_small-print
                  	{color:#96a2bb;
                  	font-size:12px;
                  	margin:0 0 20px 0;
                  	line-height:1.5em}
                  .rps_1b9f table.x_reciept_table
                  	{border-collapse:collapse;
                  	width:100%;
                  	font-size:12px;
                  	margin-bottom:20px;
                  	color:#929292}
                  .rps_1b9f table.x_reciept_table th, .rps_1b9f table.x_reciept_table tbody td
                  	{border-bottom:1px solid #ededed}
                  .rps_1b9f table.x_reciept_table th
                  	{font-size:100%;
                  	padding:10px 2px;
                  	color:#505979}
                  .rps_1b9f table.x_reciept_table tbody td
                  	{font-size:100%;
                  	padding:10px 2px}
                  .rps_1b9f table.x_reciept_table tfoot tr:first-child td
                  	{padding-top:10px;
                  	font-weight:bold}
                  .rps_1b9f table.x_reciept_table tfoot td
                  	{font-size:100%;
                  	padding:5px 2px;
                  	color:#505979}
                  -->
            </style>
            <div class="rps_1b9f">
               <div style="background: rgb(237, 241, 245); margin: 0px; font-family: Helvetica, Arial, sans-serif, serif, EmojiFont; padding: 25px;">
                  <div align="center" style="margin:30px 0">
                  </div>
                  <div class="x_wrapper" style="margin:0 auto; border-radius:4px; background:#FFFFFF; width:100%; max-width:600px; border:1px solid #dadfe9; border-top:10px solid #039be5">
                     <div class="x_content" style="padding:40px">
                        <div class="x_heading1" style="font-weight:bold; color:#35334d; margin:0 0 20px 0; font-size:24px">
                           Hello <%= @resource.email %>!,
                        </div>
                        <div>
                           <p class="x_paragraph1" style="color:#505979; font-size:16px; margin:0 0 20px 0">
                              We received a request to reset your SimpleAdmin account password. To complete the process, click the button below:
                           </p>
                        </div>

                        <div align="center" style="margin:40px 0">
                          <a href='<%= edit_password_url(@resource, reset_password_token: @token) %>' target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" class="x_cta" style="display:inline-block; background:#039be5; border-radius:4px; color:#FFFFFF; padding:20px 20px; text-decoration:none; font-weight:normal; font-size:16px">Reset
                           Password
                         </a>
                        </div>
                     </div>
                  </div>
                  <div class="x_sure-footer" style="padding-top:50px; text-align:center">
                     <div class="x_social" style="border-bottom:1px solid #dadfe9; max-width:300px; margin:0 auto; margin-bottom:50px; padding-bottom:50px">
                        <a href="https://twitter.com/SimpleAdminSaaS" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" class="x_twitter" style="vertical-align:middle; display:inline-block; margin-right:40px; color:#039be5; font-weight:bold">
                          <img data-imagetype="External" src="http://localhost:5000/twitter.png" alt="Twitter" height="22" width="28" style="width:28px; height:22px">
                        </a>

                        <a href="https://www.facebook.com/getsimpleadmin" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" class="x_facebook" style="vertical-align:middle; display:inline-block; margin-right:40px; color:#039be5; font-weight:bold">
                          <img data-imagetype="External" src="http://localhost:5000/facebook.png" alt="Facebook page" height="30" width="16" style="width:16px; height:30px">
                        </a>

                        <a href="https://instagram.com/getsimpleadmin" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" class="x_instagram" style="vertical-align:middle; display:inline-block; color:#039be5; font-weight:bold">
                          <img data-imagetype="External" src="http://localhost:5000/instagram.png" alt="Instagram Page" height="28" width="28" style="width:28px; height:28px">
                        </a>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
    </body>
</html>
