<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
              <%= t('simple_admin.resource.edit.title', resource_name: @resource_name) %>
            </h1>
        </div>
    </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content block-content-narrow">
              <%= render 'simple_admin/admin/resource/form', resource: @resource, entity: @entity, entity_fields: @entity_fields, form_url: resource_link(@resource, :update) %>
            </div>
        </div>
    </div>
  </div>
</div>
