<%= render 'simple_admin/admin/shared/collection/header', entity: @entity, resource_name: @resource_name %>

<div class="content">
  <div class="row">
    <div class="col-lg-12">
        <div class="block">
            <div class="block-content">
                <%= render 'simple_admin/admin/shared/collection/table_body', resources: @resources, entity_fields: @entity_fields %>
            </div>
        </div>
    </div>
  </div>
</div>
