<section class="catalog-page">
  <%= render 'simple_admin/admin/shared/collection/header', entity: @entity, resource_singular_name: @resource_singular_name %>

  <table class="table">
    <%= render 'simple_admin/admin/shared/collection/table_header', column_names: @entity_fields.labels %>
    <%= render 'simple_admin/admin/shared/collection/table_body', resources: @resources, entity_fields: @entity_fields %>
  </table>

  <%= paginate @resources %>
</section>
