<section class="item-page">
  <header class="item-page__header">
      <h3 class="item-page__title">New Post</h3>
  </header>

  <%= render 'simple_admin/admin/resource/form', resource: @resource, entity: @entity, entity_fields: @entity_fields, form_url: resource_link(@resource, :create) %>
</section>
