<ul class="nav-header pull-left">
  <% if resource_klass.present? %>
    <li class="js-header-search header-search">
      <%= form_for admin_search_path, url: admin_search_path, method: :get, class: 'form-horizontal' do |f| %>
        <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
          <%= f.hidden_field :resource_klass, name: :resource_klass, value: resource_klass %>

          <%= f.text_field :query, name: :query, value: params[:query], class: 'form-control', placeholder: 'Search..' %>
          <span class="input-group-addon"><i class="si si-magnifier"></i></span>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
