<tbody class="table__body">
    <% resources.each do |resource| %>
      <tr class="table__row">
          <td class="table__cell">
            <span><%= resource.id %></span>
          </td>

          <td class="table__cell">
            <%= link_to resource.name, resource_link(resource, :edit), class: 'table__link' %>
          </td>

          <%= render 'admin/shared/collection_actions', resource: resource %>
      </tr>
    <% end %>
</tbody>
