.content
  .col-md-8
    .block
      .block-header.block-header-default
        %h3.block-title
          = t('admin.widgets.form.edit.title')
      .block-content
        = render 'form', resource: @resource, form_url: admin_system_widget_path(@project, @resource)
