<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Simple Admin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'simple_admin/application', media: 'all' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
